.project-containerD {
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 20px;
  width: 100%;
  margin: auto;
}
.Row1 {
  float: left;
  width: 49%;
  margin: auto;
}
.project-row-left {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
  cursor: pointer;
  padding: 2px;
}

.project-row-left:hover {
  background: rgba(92, 123, 165, 0.151);

  box-shadow: 2px 2px 3px rgba(47, 30, 141, 0.404);
}
