.outer-personality {
  margin: auto;
  font-weight: bold;
  font-size: 16px;
}

.inner-personality {
  display: flex;
  float: left;
  width: 50%;
  height: 50%;
  text-align: center;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.inner-right-personality {
  display: flex;
  float: right;
  width: 70%;
  height: 50%;
  text-align: center;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.personality-item {
  border: 2px solid grey;
  border-top: none;
  border-radius: 5px;
  display: flex;
  height: 70px;
  margin: auto;
  padding: 4px;
  font-weight: bold;
  font-size: 16px;
}
