.project-container {
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 20px;
  padding: 5px;

  border: 2px solid rgba(0, 0, 0, 0.155);
  border-radius: 6px;
  width: 96%;
  margin: auto;
}

.RowPhone {
  float: left;
  width: 49%;
  margin: auto;
}
span {
  display: block;
}

.project-row-phone {
  display: flex;
  font-weight: bold;
  margin: auto;
  height: 60px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  border: 1px solid rgb(148, 129, 129);
  cursor: pointer;
  margin-top: 4px;
  padding: 2px;
  border-radius: 5px;
  user-select: none;
  transition: background 1.4s ease;
}

.project-row-phone:hover {
  background: rgba(14, 45, 88, 0.671);
  transition: background 1.4s ease;
  box-shadow: 2px 2px 3px rgba(47, 30, 141, 0.404);
}

.showProject {
  position: absolute;
  transition: opacity 1.4s;
  opacity: 1;
}

.hiddenProject {
  position: absolute;
  transition: opacity 1s;
  opacity: 0.1;
}

.showDetails {
  display: block;
  font-weight: bold;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;
  position: absolute;
  transition: opacity 1.4s;
  transition: color 42;
  opacity: 1;
}

.hiddenDetails {
  position: absolute;
  font-weight: bold;
  font-size: 10px;
  color: white;
  transition: opacity 2.5s ease;
  opacity: 0;
}
