.project-container {
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 20px;
  padding: 5px;

  border: 2px solid rgba(0, 0, 0, 0.155);
  border-radius: 6px;
  width: 96%;
  margin: auto;
}

.RowPhone {
  float: left;
  width: 49%;
  margin: auto;
}

.project-row-phone {
  display: flex;
  margin: auto;
  height: 60px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  border: 1px solid rgb(148, 129, 129);
  cursor: pointer;
  margin-top: 4px;
  padding: 2px;
  border-radius: 5px;
  user-select: none;
}

.showProject {
  transition: opacity 0.8s;
  opacity: 1;
}
.showDetails {
  margin: auto;
  height: 60px;
  position: absolute;
  background: blue;
  transition: opacity 1.8s;
  opacity: 1;
}
.hidden {
  position: absolute;
  transition: opacity 0.8s;
  opacity: 0;
}

.project-row-phone:hover {
  background: rgba(92, 123, 165, 0.151);
  box-shadow: 2px 2px 3px rgba(47, 30, 141, 0.404);
}
