@media screen and (max-width: 900px) {
  .App {
    height: 1200px;
    margin: auto;
  }

  body {
    margin: auto;
    border: 2px solid rgba(46, 46, 46, 0.349);
    border-radius: 10px;
  }
  .backgroundTop {
    position: relative;
    z-index: 1000;
  }

  .pic-banner {
    position: absolute;
    height: 72px;
    z-index: -1000;
    width: 100%;
    background-size: cover;
    background-position: 0px -260px;
    opacity: 0.6;
  }

  .name-pic {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .phone-prof-pic {
    height: 50px;
    margin: auto;
    border-radius: 100px;
  }

  .phone-bars {
    font-size: 30px;
    cursor: pointer;
    color: rgb(255, 255, 255);
  }
  .phone-bars:hover {
    color: rgb(14, 27, 44);
  }

  i {
    margin: auto;
    font-size: 28px;
  }

  i:hover {
    color: rgb(189, 129, 2);
    cursor: pointer;
  }

  h4 {
    font-size: 12px;
  }
  .skill-container {
    display: flex;
    padding-bottom: 20px;
    margin-top: 20px;
    border: 2px solid rgba(0, 0, 0, 0.342);
    border-radius: 6px;
    text-align: center;
  }

  .skillRow {
    float: left;
    grid-template-columns: 25% 10% 25% 15%;
    width: 25%;
  }

  .skillItem {
    content: "";
    display: table;
    clear: both;
    margin: 2px;
    border: 1px dotted rgba(0, 0, 0, 0.115);
    border-radius: 3px;
    width: 100%;
  }
  .skillIem {
  }
  h1 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 8px;
  }
  h5 {
    font-size: 16px;
    margin: 5px;
    text-align: center;
  }
  .phone-skills {
    width: 90%;
    margin: auto;
  }

  .divider {
    background-image: linear-gradient(
      to right,
      rgba(47, 101, 163, 0.88),
      rgb(61, 60, 134, 0.88),
      rgb(173, 72, 94, 0.88)
    );
    border-radius: 6px;
    width: 100%;
  }

  .right-block {
    display: grid;
    width: 100%;
    height: 80%;
    /* background-color: #fb6161; */
  }

  .right-grid {
    grid-template-rows: 29.5% 0.5% 40% 0.5% 25% 0.5%;
    display: grid;
    grid-gap: 0.5%;
    height: 100%;
  }

  .right-brdr {
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 10px;
  }
}
