.App {
  text-align: center;
  display: grid;
}

.border {
  position: absolute;
  height: 97%;
  margin: 1%;
  width: 98%;
  border: 3px solid rgba(46, 46, 46, 0.349);
  border-radius: 20px;
}

.name-bnr {
  width: 100%;
  margin-top: 2%;
  font-family: "Lato", sans-serif;
  color: rgb(46, 46, 46);
  font-size: 26px;
  height: 8vh;
}

.job-bnr {
  font-family: "Lato", sans-serif;
  color: rgb(211, 211, 211);
  font-size: 20px;
  margin: auto;
  width: 98%;
  height: 8vh;
  background-image: linear-gradient(
    to right,
    rgb(47, 101, 163),
    rgb(61, 60, 134),
    rgb(173, 72, 94)
  );
  /*box-shadow: 25px 10px 20px 0 white inset, -20px -10px 20px 0 white inset;*/
}

.main-container {
  display: grid;
  grid-gap: 4%;
  padding: 4%;
}

.left-sidebar {
  position: fixed;
  grid-template-rows: 15% 25% 30% 10% 20%;
  display: grid;
  grid-gap: 10px;
  left: 5%;
  width: 25%;
  height: 75vh;
  background-color: #d2fb61;
}

.right-block {
  position: fixed;
  width: 60%;
  right: 5%;
  height: 75vh;
  background-color: #fb6161;
}

.right-grid {
}
