.App {
  text-align: center;
  display: grid;
}

.name-bnr {
  width: 100%;
  font-family: "Lato", sans-serif;
  color: rgb(46, 46, 46);
  font-size: 26px;
  height: 10vh;
}

.job-bnr {
  font-family: "Lato", sans-serif;
  color: rgb(211, 211, 211);
  font-size: 20px;
  width: 100%;
  height: 8vh;
  background-image: linear-gradient(
    to right,
    rgb(130, 130, 219),
    rgb(61, 60, 134),
    violet
  );
  box-shadow: 10px 10px 20px 0 white inset, -15px -15px 25px 0 white inset;
}

.main-container {
  display: grid;
  grid-gap: 4%;
  padding: 4%;
}

.left-sidebar {
  position: fixed;
  left: 5%;
  width: 25%;
  height: 75vh;
  background-color: #d2fb61;
}

.right-block {
  position: fixed;
  width: 60%;
  right: 5%;
  height: 75vh;
  background-color: #fb6161;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
