.App {
  text-align: center;
  display: grid;
}

.name-bnr {
  width: 100%;
  height: 10vh;
  background-color: #2987a1;
}

.job-bnr {
  width: 100%;
  height: 8vh;
  background-color: #66fb61;
}

.main-container {
  display: grid;
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}

.left-sidebar {
  position: fixed;
  left: 0;
  width: 40%;
  height: 80vh;
  background-color: #d2fb61;
}

.right-block {
  position: fixed;
  width: 60%;
  right: 0;
  height: 80vh;
  background-color: #fb6161;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
